<footer id="footer">
  <nav class="navbar navbar-expand-lg scrolling-navbar bg-dark navbar-dark">
    <%= link_to 'javascript:void(0);', class: 'navbar-brand' do %>
      <strong>Articles</strong>
    <% end %>
    <%= link_to 'javascript:void(0);', class: 'text-secondary' do %>
      <small>
        &copy;
        <%= "2020 - #{Date.today.year}. All right reseved." %>
      </small>
    <% end %>
  </nav>
</footer>
